gensim==3.8.3
tqdm==4.48.0
seaborn==0.10.1
lightgbm==2.3.1
scipy==1.5.1
matplotlib==3.3.0
Keras==2.4.3
networkx==2.4
munkres==1.1.2
tensorflow==2.2.0
numpy==1.19.0
pandas==1.0.5
joblib==0.16.0
scikit_learn==0.23.1
