pandas==0.25.1
scipy==1.4.1
networkx==2.3
seaborn==0.9.0
matplotlib==3.1.1
munkres==1.1.2
gensim==3.8.3
Keras==2.4.3
tqdm==4.36.1
tensorflow==2.2.0
numpy==1.17.2
lightgbm==2.3.1
joblib==0.13.2
scikit_learn==0.23.1
